#slide {
    width: 100%;
}

#head-image {
    height: 500px;
    width: 100%;
    object-position: 30% 0;
    object-fit: cover;
}

#about-text{
    text-align: justify;
    padding: 20px 0;
}